[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
keras = "*"
flask = "*"
gunicorn = "*"
tensorflow = "*"
textgenrnn = "*"
requests = "*"

[dev-packages]
lxml = "*"

[requires]
python_version = "3.7"
